.supplier-data {
  width: 100%;
  padding: calc(var(--margin-md) * 2);
}

.supplier-data__form {
  display: flex;
  flex-flow: column;
}

.supplier-data__form-field {
  margin-top: var(--margin-md) !important;
}

.supplier-data__panels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(200px, 400px);
  grid-gap: var(--margin-md);
}

.supplier-data__header {
  font-size: var(--font-size-h1) !important;
  flex: 1 1 auto;
}

.supplier-data__header-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-md) !important;
}

.supplier-data__paper-content-container {
  overflow-y: scroll;
}

.supplier-data__actions {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  align-items: center;
}

.supplier-data__thumbnail-dimensions--white,
.supplier-data__thumbnail-dimensions {
  text-align: center !important;
}

.supplier-data__thumbnail-dimensions--white {
  color: white;
}

.supplier-data__images-thumbnail-container--dark,
.supplier-data__images-thumbnail-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--margin-sm);
  padding: var(--margin-sm);
  transition: background-color 0.2s ease-in-out;
}

.supplier-data__images-thumbnail-container--dark {
  background: black;
}

.supplier-data__images-thumbnail--selected,
.supplier-data__images-thumbnail {
  width: 100%;
  max-height: 200px;
}

.supplier-data__images-thumbnail--selected,
.supplier-data__images-thumbnail:hover {
  cursor: pointer;
  outline: 2px orange dashed;
}

.supplier-data__paper {
  padding: calc(var(--margin-md) * 2);
  display: flex;
  flex-flow: column;
}

.supplier-data__screenshot {
  width: 100%;
}

.supplier-data__screenshot:hover {
  cursor: pointer;
}

.supplier-data__emails-result {
  margin: var(--margin-md) 0;
  word-break: break-all;
}

.supplier-data__emails-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.supplier-data__emails-result-section {
  margin-bottom: calc(var(--margin-md) * 2);
}

.supplier-data__emails-header-filter {
  margin-right: var(--margin-md);
  flex: 1;
}

.supplier-data__emails-header-btn {
  flex: 0 0 auto;
}

.supplier-data__emails-result-list {
  list-style: none;
}

.supplier-data__emails-result-list-item-btn {
  margin-top: var(--margin-md) !important;
}

.supplier-data__emails-result-list-item {
  margin: 0 var(--margin-sm);
}

.supplier-data__emails-result-list-item:hover {
  cursor: pointer;
  outline: orange 2px dotted;
}

.supplier-data__emails-link-result-list-item {
  margin-top: var(--margin-md);
}